# ==========================
# Python / Django
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

backend/db.sqlite3

.venv/
venv/
env/

*.log

# Environment variables
.env
.env.*

# ==========================
# React / Vite / TypeScript
# ==========================
frontend/browser/node_modules/
frontend/browser/dist/

# Vite cache
frontend/browser/.vite/

# npm/yarn/pnpm logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ==========================
# Flutter
# ==========================
frontend/mobile/.dart_tool/
frontend/mobile/.flutter-plugins
frontend/mobile/.flutter-plugins-dependencies
frontend/mobile/build/
frontend/mobile/.packages
frontend/mobile/.metadata

# Android
frontend/mobile/android/.gradle/
frontend/mobile/android/local.properties

# iOS
frontend/mobile/ios/Pods/

# ==========================
# IDEs
# ==========================
.vscode/
.idea/

# ==========================
# OS files
# ==========================
.DS_Store
Thumbs.db
desktop.ini